.navbar {
    background-color: seagreen !important;
}

 #active{
    background-color:black;
    color: white;
}
    .active a{
        color: white;
    }

.navbar-collapse .navbar-nav .nav-item a{
    display:block;
    color:white;
    text-align: center;
    -webkit-transition: all 0.5s;
    font-weight: 500;
}
  
.navbar-collapse > ul > li > a:hover{
  background-color: rgb(232,156,12);
  color : white;
  text-align: center;
} 

/*Body*/
#Content{
    background-color: floralwhite;
}

#form1{
    background-color: floralwhite;
}