#ImageInicio {
    background: url('../Images/Inicio.jpg');
    background-size: cover;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    padding-bottom: 25px;
}

    #ImageInicio h1 {
        color: white;
        text-align: center;
        padding-top: 100px;
        font-weight: bolder;
        font-size: 8vw;
        text-shadow: 0 0 0.2em #000000;
    }

    #ImageInicio p{
        color: white;
        text-align:center;
        font-size: 3vw;
        text-shadow: 0 0 0.2em #000000;
    }

    #ImageInicio .btn{
        background-color: rgb(232,156,12);
        color: white;
        font-size: 15px;
        padding: 20px;
        height: auto;
        width: 125px;
        text-decoration: none;
        -webkit-transition: all 0.3s;
    }

        #ImageInicio .btn:hover{
            background-color: rgb(232,100,20);
            width: 175px;
        }
