/*
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Syncopate', sans-serif;
*/

body{

}
/*HEADER*/
.navbar {
    background-color: seagreen !important;
    top: 0px;
    left: 0px;
    height: 311px;
}

.navbar-collapse .navbar-nav .nav-item a{
    display:block;
    color:white;
    text-align: center;
    font-weight: 500;
}

.navbar-collapse .navbar-nav .nav-item LinkButton{
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

#lblAdministrador{
    display: none;
}

#lblAdministrador2{
    display: none;
}
    .navbar-collapse > ul > li > a:hover{
        color : black !important;
    }

    .navbar-collapse > ul > li > Label:hover{
        color: black !important;
    }

    .navbar-collapse > ul > li > LinkButton:hover{
        color: black !important;
    }

#cuenta{
    margin-right: 2px !important;
}

#cuenta > li > LinkButton{
    color: black !important;
}

.navbar-collapse .form-inline{
    display: block;
    text-align:center;
    height: 55px;
}
    
 #active{
    font-size: 18px;
    color: orange !important;
}

/*BODY*/
#Content{
    background-color: white !important;
}
/*FOOTER*/
footer{
     bottom: 0;
     background-color: #33383c;
     padding: 30px 0px 0px 0px;
     margin: 0px;
}	       

    footer h3{
        color:#FFF;
        letter-spacing: 3px;
        text-decoration:none;
        font-size:20px;
        margin-left: 20px;
    }

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: rgb(232,156,12);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.address .fa{
    color: seagreen;
    margin-right: 10px;
    font-size:18px;
}

#Copyright{
    background-color: seagreen;
    padding: 10px;
}

    #Copyright h4{
        text-align: center;
        color: white;
        margin-bottom: 0px;
    }